* {
    font-family: 'Baloo Thambi 2', cursive;
}

.main-header {
    text-align: center;
}

.main-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-card {
    position: relative;
}

.inputNumberCard {
    background: none;
    border: none;
    font-size: 27px;
    height: 40px;
    left: 20px;
    letter-spacing: 2px;
    position: absolute;
    outline: none;
    top: 125px;
    width: 350px;
}

.inputNumberCard::placeholder {
    font-size: 25px;
}

#buttonValidateCard {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 900;
    left: 20px;
    position: absolute;
    outline: none;
    top: 200px;
}

#buttonValidateCard:hover {
  color: #004A10;
}
